---
import Card from "@components/cards/Card.astro";
---

<Card
  title="Атлет"
  img="images/atlet.webp">
  <Fragment slot="description">
    Впервые в фитнес-клубе?<br />Тогда эта подписка для вас!
  </Fragment>

  <Fragment slot="long-description">
    <p>В этой подписке тренировки построены по системе Фулбади.</p>
    <p>Она подразумевает проработку максимального количества групп мышц за одну тренировку.</p>
    <p>Такой формат отлично подходит для начинающих мужчин и для тех, кому не подходит метод сплит-тренировок.</p>
    <p>В этой подписке для вас будут доступны по 3&nbsp;разных фулбади-тренировок.</p>
  </Fragment>
</Card>
