extends ./card.template.pug

block cover
  img(src="~src/assets/images/card-fullbody.png", alt="Фуллбади")

block title
  | Атлет

block description
  | Впервые в фитнес-клубе?<br/>Тогда эта подписка для вас!