.card
  .card__cover
    block cover

  h3.card__title
    block title
  p.card__description
    block description
  p.card__price
    span.card__price-prefix от&nbsp;
    b.card__price-value 660&nbsp;₽
  button.btn.btn--size-l.btn--gradient.card__payment Подключить
  a(href="#").card__details Подробнее о программе