extends ./card.template.pug

block cover
  img(src="~src/assets/images/card-meat.png", alt="Мясонабор")

block title
  | Мясонабор

block description
  | В этой подписке можно построить можно построить мощное мужское атлетичное тело!