extends ./card.template.pug

block cover
  img(src="~src/assets/images/card-nuts.png", alt="КруглоЯгодичные")

block title
  | КруглоЯгодичные

block description
  | Путь к идеальной женской фигуре можно найти в этой подписке.