---
import Card from "@components/cards/Card.astro";
---

<Card
  title="КруглоЯгодичные"
  img="images/krugloyagodichnoe.webp"
  gender="w"
  lite
>
  <Fragment slot="description">
    Путь к идеальной женской фигуре можно найти в этой подписке.
  </Fragment>

  <Fragment slot="long-description">
    <p>
      В этой подписке для вас будут доступны тренировки, разделённые по мышечным
      группам и сформированы в 3 разных тренировочных дня.
    </p>
    <p>Походит для девушек.</p>
    <p>
      Акцент сделан на полноценную проработку ягодичных мышц, а также бёдер и
      торса.
    </p>
  </Fragment>
</Card>
