---
import Card from "@components/cards/Card.astro";
---

<Card title="МясоНабор" img="images/myasonabor.webp">
  <Fragment slot="description">
    В этой подписке можно построить можно построить мощное мужское атлетичное
    тело!
  </Fragment>

  <Fragment slot="long-description">
    <p>
      В этой подписке для вас будут доступны тренировки, разделённые по мышечным
      группам и сформированы в 3 разных тренировочных дня.
    </p>
    <p>Походит для мужчин.</p>
    <p>
      Акцент сделан на построение мощного торса, тренировка ног в плане также
      присутствует.
    </p>
  </Fragment>
</Card>
