---
import "./Maintenance.scss";
---

<section
  class="sections maintenance"
  id="maintenance">
  <div class="container maintance__container">
    <div class="title-group maintance__title-group">
      <h2 class="title maintance__title">Онлайн-ведение</h2>
      <span class="subtitle maintance__subtitle"></span>
    </div>
  </div>
</section>
