.radio {
  width: 100%;
  user-select: none;

  @include desktop() {
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__point {
    flex: 0 0 auto;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 30px;
    border: 1px solid var(--secondary);
    z-index: 1;
    transition: all 300ms ease;
  }

  &__text {
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid var(--secondary);
    color: var(--secondary);
    border-radius: 40px;
    padding: 0.5rem;
    background: transparent;
    transition:
      all 300ms ease,
      filter 0 linear;
    overflow: hidden;
  }

  &__input:checked ~ &__text {
    background: var(--gradient);
    color: var(--black);
    filter: hue-rotate(360deg);
    transition:
      all 300ms ease,
      filter 500ms linear;
  }

  &__input:checked ~ &__text &__point {
    background: var(--black);
  }
}
