---
interface Props {
  label: string;
  textCenter?: boolean;
  inline?: boolean;
}

const { label, inline = false, textCenter } = Astro.props;
const classes = {
  root: [
    "radio-group",
    {
      "radio-group--inline": inline,
    },
  ],

  label: [
    "radio-group__label",
    {
      "radio-group__label--center": textCenter,
    },
  ],
};
---

<div class:list={classes.root}>
  <span class:list={classes.label}>{label}</span>
  <div class="radio-group__container">
    <slot />
  </div>
</div>

<style lang="scss" is:global>
  .radio-group {
    &__label {
      width: 100%;
      display: block;
      opacity: 0.8;
      margin-bottom: 8px;
      font-size: 1.2rem;

      &--center {
        text-align: center;
      }
    }

    &__container {
      display: flex;
      flex: 1 1 auto;
      gap: 8px 16px;
      flex-direction: column;
    }

    &--inline &__container {
      flex-direction: row;
      flex-wrap: wrap;

      @include desktop() {
        flex-wrap: nowrap;
      }
    }
  }
</style>
