---
import "./Radio.scss";

interface Props {
  name: string;
  value: string;
  checked?: boolean;
}

const { name, value, checked } = Astro.props;
---

<label class="radio">
  <input
    class="radio__input"
    type="radio"
    name={name}
    value={value}
    checked={checked}
  />
  <span class="radio__point"></span>
  <span class="radio__text">
    <span class="radio__text-title">
      <slot />
    </span>
    <span class="radio__text-description">
      <slot name="description" />
    </span>
  </span>
</label>
