---
import "./RadioGroup.scss";

interface Props {
  label: string;
  textCenter?: boolean;
  inline?: boolean;
}

const { label, inline = false, textCenter } = Astro.props;
const classes = {
  root: [
    "radio-group",
    {
      "radio-group--inline": inline,
    },
  ],

  label: [
    "radio-group__label",
    {
      "radio-group__label--center": textCenter,
    },
  ],
};
---

<div class:list={classes.root}>
  <span class:list={classes.label}>{label}</span>
  <div class="radio-group__container">
    <slot />
  </div>
</div>
