---
import "./Radio.scss";

interface Props {
  name: string;
  value: string;
  checked?: boolean;
  block?: boolean;
}

const { name, value, checked, block = false } = Astro.props;
const classes = [
  "radio",
  { ["radio--block"]: block, ["radio--point"]: !block },
];
---

<label class:list={classes}>
  <input
    class="radio__input"
    type="radio"
    name={name}
    value={value}
    checked={checked}
  />
  <span class="radio__indicator"></span>
  <span class="radio__text">
    <span class="radio__text-title">
      <slot />
    </span>
    <span class="radio__text-description">
      <slot name="description" />
    </span>
  </span>
</label>
