---
import "./Input.scss";

interface Props {
  label?: string;
}

const { label, ...attrs } = Astro.props;
---

<label class="input">
  <span class="input__label">{label}</span>
  <input class="input__input" {...attrs} />
</label>
