---
import './About.scss';
---

<section class="sections about" id="about">
  <div class="container about__container">
    <div class="title-group about__title-group">
      <h2 class="title about__title">О проекте</h2>
    </div>
    <div class="about__content">
      <p>Приветствую вас, дорогие друзья!</p>
      <p>Меня зовут Никита Десятов, и&nbsp;я&nbsp;рад приветствовать вас на&nbsp;своём онлайн-проекте! Этот проект создан специально для&nbsp;вас&nbsp;и&nbsp;вашего тела. С&nbsp;помощью моих тренировок вы&nbsp;сможете достичь своих целей быстрее и&nbsp;эффективнее, чем&nbsp;когда-либо прежде.</p>
      <p>Я&nbsp;тружусь тренером более 10 лет и&nbsp;мой опыт в&nbsp;области фитнеса и&nbsp;тренировок позволяет мне создавать уникальные программы, которые будут подходить именно вам. Я&nbsp;предлагаю не&nbsp;только физические упражнения, но&nbsp;и&nbsp;планы питания, советы по&nbsp;образу жизни и&nbsp;всю&nbsp;полезную информацию, которая поможет вам достичь максимальных результатов.</p>
      <p>Будьте уверены, что путь к&nbsp;здоровью и&nbsp;красоте достаточно прост, когда у вас на руках есть план действий. Моя&nbsp;задача дать вам возможность улучшить свое тело, укрепить мышцы и&nbsp;повысить свою выносливость. Не&nbsp;откладывайте заботу о&nbsp;своем здоровье на&nbsp;потом, начните прямо сейчас!</p>
      <p>Никаких марафонов, волшебных таблеток или сказочных методик. Регулярные тренировки, дисциплина и&nbsp;самоконтроль сделают из&nbsp;вас лучшую версию себя.</p>
      <p>Осталось выбрать подходящий для вас формат подписки, присоединиться к&nbsp;нашей команде и&nbsp;вы станете ближе к&nbsp;своей цели.</p>
      <p class="subtitle">С уважением, Никита Десятов.</p>
    </div>
  </div>
</section>