.about {
  background-color: var(--black-secondary);

  p {
    opacity: 0.9;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;

    @include desktop {
      font-size: 1.6rem;
    }
  }
}
