---
import "./Faq.scss";
import Accordion from "../../components/accordion/AccordionList.astro";
import AccordionItem from "../../components/accordion/Accordion.astro";
---

<section class="sections faq" id="faq">
  <div class="container faq__container">
    <div class="title-group faq__title-group">
      <h2 class="title faq__title">FAQ</h2>
      <span class="subtitle faq__subtitle">Часто задаваемые вопросы</span>
    </div>

    <Accordion>
      <AccordionItem title="Вопрос 1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ad earum
        sint beatae repellat obcaecati, distinctio perspiciatis fugiat minus
        ducimus nemo aspernatur a enim corrupti voluptatum iusto debitis.
        Labore, totam?
      </AccordionItem>

      <AccordionItem title="Вопрос 2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ad earum
        sint beatae repellat obcaecati, distinctio perspiciatis fugiat minus
        ducimus nemo aspernatur a enim corrupti voluptatum iusto debitis.
        Labore, totam?
      </AccordionItem>

      <AccordionItem title="Вопрос 3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ad earum
        sint beatae repellat obcaecati, distinctio perspiciatis fugiat minus
        ducimus nemo aspernatur a enim corrupti voluptatum iusto debitis.
        Labore, totam?
      </AccordionItem>
    </Accordion>
  </div>
</section>
