---
import "./Social.scss";
import IconInstagram from "@shared/ui/icons/Instagram.astro";
import IconTelegram from "@shared/ui/icons/Telegram.astro";
---

<div class="social">
  <button class="btn social__instagram">
    <IconInstagram />
  </button>

  <button class="btn social__telegram">
    <IconTelegram />
  </button>
</div>
