.social {
  display: flex;
  align-items: center;

  &__instagram,
  &__telegram {
    width: 34px;
    height: var(--navbar-height);

    @include desktop() {
      width: var(--navbar-height);

      svg {
        transform: scale(1.3);
      }
    }
  }
}
