@font-face {
  font-family: "DrukTextWide";
  src: url('../static/fonts/DrukTextWide-Bold.woff');
  font-weight: bold;
}

html {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
}

.td-none {
  text-decoration: none;
}

.ff-secondary {
  text-transform: uppercase;
  font-family: "DrukTextWide";
  font-weight: bold;
  font-optical-sizing: auto;
}

.fs-h1 {
  font-size: 32px;

  @include desktop() {
    font-size: 90px;
  }
}

.fs-h2 {
  font-size: 24px;

  @include desktop() {
    font-size: 60px;
  } 
}

.fs-h3 {
  font-size: 18px;

  @include desktop() {
    font-size: 36px;
  } 
}

.fs-h4 {
  font-size: 16px;

  @include desktop() {
    font-size: 24px;
  }
}

.fs-h5 {
  font-size: 12px;
}

.ta-center {
  text-align: center;
}