.mb-s {
  margin-bottom: 8px;
}

.mb-m {
  margin-bottom: 16px;
}

.mb-l {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 32px;
}

.mb-xxl {
  margin-bottom: 50px;
}

.p-m {
  padding: 16px;
}

.pl-s {
  padding-left: 8px;
}

.pr-s {
  padding-right: 8px;
}

.pl-m {
  padding-left: 16px;
}

.pr-m {
  padding-right: 16px;
}

.pt-xxl {
  padding-top: 50px;
}

.pt-xl {
  padding-top: 32px;
}

.pt-l {
  padding-top: 24px;
}

.pb-l {
  padding-bottom: 24px;
}