@import './_mixins.scss';
@import './_variables.scss';

@import './animations.scss';
@import './backgrounds.scss';
@import './colors.scss';
@import './components/index';
@import './fonts.scss';
@import './grids.scss';
@import './gutters.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
}

html {
  font-size: 100%;
  background-color: #000;
}