section.sections.subscriptions#subscriptions
  .container.subscriptions__container 
    .title-group.subscriptions__title-group
      h2.title.subscriptions__title Подписки
      p.subtitle.subscriptions__subtitle Подписка предоставляет доступ&nbsp;к&nbsp;закрытому Telegram&nbsp;-&nbsp;каналу с&nbsp;постоянно обновляемым контентом.&nbsp;
    include ../../components/switcher/switcher.pug
    p.subscriptions__disclaimer Оформляя подписку вы получаете доступ к закрытому телеграмм-каналу, в котором находятся текстовые&nbsp;и&nbsp;видеоматериалы с подробным описанием каждого из упражнений.
      

      
      
