@import './cards/card.scss';
@import './switcher/switcher.scss';

.subscriptions {
  width: 100%;
  min-height: 100svh;
  background: var(--black);
  position: relative;
  padding-top: var(--navbar-height);
  
  &__container {
    width: 100%;
    max-width: var(--container-width);
    margin: auto;
    padding: 2rem 1rem;

    @include desktop() {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    @include fontAlternative();

    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .8rem;

    @include desktop() {
      font-size: 2.8rem;
    }
  }

  &__subtitle {
    font-size: 1.2rem;
    color: var(--white);
    opacity: .7;
    margin-bottom: 50px;

    @include desktop() {
      font-size: 1.4rem;
    }
  }
}