section.subscriptions#subscriptions
  .subscriptions__container 
    .subscriptions__title-group
      h2.subscriptions__title Подписки
      p.subscriptions__subtitle Подписка предоставляет доступ&nbsp;к&nbsp;закрытому Telegram&nbsp;-&nbsp;каналу с&nbsp;постоянно обновляемым контентом.&nbsp;
    .subscriptions__list
      include ./switcher/switcher.pug

      include ./cards/card-fullbody-m.pug
      include ./cards/card-meat.pug
      include ./cards/card-fullbody-w.pug
      include ./cards/card-nuts.pug
