section.subscriptions#subscriptions
  .subscriptions__container 
    .subscriptions__title-group
      h2.subscriptions__title Подписки
      p.subscriptions__subtitle Подписка предоставляет доступ&nbsp;к&nbsp;закрытому Telegram&nbsp;-&nbsp;каналу с&nbsp;постоянно обновляемым контентом.&nbsp;
    include ./switcher/switcher.pug
      

      
      
