.card {
  width: 100%;
  min-height: 550px;
  border: 1px solid var(--secondary);
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include desktop() {
    max-width: calc(50% - 16px);
  }

  &__cover {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 80px 24px 40px 24px;
    min-height: 100%;
    transition: all 500ms ease;

    &--pricing {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__title {
    font-size: 2rem;

    @include desktop() {
      font-size: 2.4rem;
    }

    &--alternative {
      @include fontAlternative();
      margin-top: auto;
      font-size: 1.2rem;

      @include desktop {
        font-size: 1.2rem;
        margin-bottom: 16px;
      }
    }
  }

  &__description {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-bottom: 24px;
  }

  &__payment,
  &__price {
    margin-top: auto;
  }

  &__price-prefix {
    font-size: 1.2rem;
    opacity: 0.8;
  }

  &__price-value {
    font-size: 2.4rem;
  }

  &__details-text {
    display: block;
    text-align: center;
  }

  &__details-close {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    font-size: 5rem;
    line-height: 50px;
    text-align: center;
    transform: scale(0.5);
    z-index: 2;
    transition: all 300ms ease;

    @include desktop {
      cursor: pointer;
    }
  }

  &__trigger {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  &__modal-outer {
    position: absolute;
    inset: 0;
    background-color: var(--black-secondary);
    border-radius: inherit;
    transform: translateY(100%);
    transition: all 250ms ease;
    visibility: hidden;
    overflow: hidden;
    z-index: 1;
  }

  &__modal-in {
    width: calc(100% + 17px);
    height: 100%;
    overflow-y: scroll;

    p {
      font-size: 1.2rem;
    }
  }

  &__trigger--pricing:checked ~ &__content--base-info {
    opacity: 0;
    visibility: hidden;
  }

  &__trigger--pricing:checked ~ &__content--pricing {
    opacity: 1;
    visibility: visible;
  }

  &__trigger--modal:checked ~ &__content &__details &__details-close {
    visibility: visible;
    opacity: 1;
  }

  &__trigger--modal:checked ~ &__modal-outer {
    visibility: visible;
    transform: translateY(0);
  }
}
