---
import Icon from "../icon/Icon.astro";
import Button from "../button/Button.astro";
---

<div class="social">
  <Button class="social__instagram">
    <Icon name="instagram" />
  </Button>

  <Button class="social__telegram">
    <Icon name="telegram" />
  </Button>
</div>

<style lang="scss">
  .social {
    display: flex;
    align-items: center;
  }
</style>
