nav.navbar
  .navbar__container
    button.navbar__btn-menu
      include ./btnMenu.pug
    a.navbar__logo(href="#")
      include ./logo.pug
    .navbar__social.social
      button.social__instagram
        include ./btnInstagram.pug
      button.social__telegram
        include ./btnTelegram.pug
    
    a.btn.btn--size-s.btn--gradient.navbar__go-to-programs(href="#subscriptions")
      span Подписки