@mixin sliderThumb {
  appearance: none;

  width: 34px;
  height: 34px;
  border-radius: 34px;
  border: 2px solid var(--black);
  cursor: grab;

  @include bgWithGradient;
  
  &:active {
    cursor: grabbing;
  }
}


.range {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__label {
    opacity: .7;
    font-size: 1.2rem;
  }

  &__input {
    appearance: none;
    
    width: 100%;
    height: 16px;
    border-radius: 16px;

    background: transparent;
    outline: 2px solid var(--secondary);
    border: 2px solid var(--black);
    transition: filter 1s linear;
  }

  &:active &__input {
    filter: hue-rotate(360deg);
  }

  input[type="range"]::-webkit-slider-thumb {
      @include sliderThumb;
  }

  input[type="range"]::-moz-range-thumb {
    @include sliderThumb;
  }

  input[type="range"]::-ms-thumb {
    @include sliderThumb;
  }

  &__post-label {
    display: none;

    &.visible {
      display: block;
    }
  }
}