---
import "./BgVideo.scss";
---

<div class="bg-video">
  <video
    preload="auto"
    muted
    playsinline
    autoplay="autoplay"
    loop="loop"
    class="bg-video__player"
  >
    <source src="videos/video_desktop.mp4" type="video/mp4" />
  </video>
</div>
