nav.navbar
  .navbar__container
    label.btn.btn--quadro.navbar__btn-menu(for="sidebar-trigger")
      include ./btnMenu.pug
    a.navbar__logo(href="#main-section")
      include ./logo.pug
    
    include ../social/social.pug
    
    a.btn.btn--size-s.btn--gradient.navbar__go-to-programs(href="#subscriptions")
      span Подписки
