.navbar {
  width: 100%;
  height: var(--navbar-height);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, .6);
  backdrop-filter: blur(20px);
  color: var(--white);
  z-index: 100;

  @include desktop() {
    --navbar-height: 70px;
  }

  &__container {
    width: 100%;
    margin: auto;
    max-width: var(--container-width);
    height: inherit;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__btn-menu {
    @include desktop() {
      svg {
        transform: scale(1.5);
      }
    }
  }

  &__logo {
    height: inherit;
    display: flex;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
      max-width: 99%;
      max-height: 50%;
    }
  }

  &__go-to-programs {
    margin-left: auto;
    margin-right: 12px;
  }
}