- var words = ['Мужчин', 'Женщин', 'Новичков', 'Опытных'];

header.main-section#main-section
  include ../../components/bg-video/bg-video.pug
  .main-section__container
    h1.main-section__title.main-title
      span.main-title__text-white Онлайн 
      span.main-title__text-gradient Тренировки
      span.main-title__text-white Для&nbsp;
        each val, index in words
          if index === 0
            span.text-animation=val
          else
            span.text-animation.d-none=val
        
    ul.main-section__list
      li Обновляемые программы тренировок
      li Онлайн ведение
      li Планы питания