header.main-section
  include ./bg-video/bg-video.pug
  .main-section__container
    h1.main-section__title.main-title
      span.main-title__text-white Онлайн 
      span.main-title__text-gradient Тренировки
      span.main-title__text-white Для&nbsp;
        span.text-animation МУЖЧИН
        span.text-animation.d-none ЖЕНЩИН
        span.text-animation.d-none НАБИРАЮЩИХ
        span.text-animation.d-none ХУДЕЮЩИХ
        span.text-animation.d-none НАЧИНАЮЩИХ
    ul.main-section__list
      li Обновляемые программы тренировок
      li Онлайн ведение
      li Планы питания