---
import "./Sidebar.scss";
import IconInstagram from "@shared/ui/icons/Instagram.astro";
import IconTelegram from "@shared/ui/icons/Telegram.astro";
---

<script src="./Sidebar.js"></script>

<div class="sidebar">
  <input
    class="sidebar__checkbox"
    type="checkbox"
    id="sidebar-trigger"
  />
  <label
    class="sidebar__shadow"
    for="sidebar-trigger">
    <span class="btn btn--black btn--quadro sidebar__btn-close">
      <svg
        width="50"
        height="50"
        fill="none">
        <path
          fill="#fff"
          d="M38.125 11.896a2.076 2.076 0 0 0-2.937 0L25 22.063 14.813 11.875a2.078 2.078 0 0 0-2.938 2.938L22.063 25 11.875 35.188a2.077 2.077 0 1 0 2.938 2.937L25 27.938l10.188 10.187a2.076 2.076 0 0 0 3.545-1.469 2.08 2.08 0 0 0-.608-1.468L27.938 25l10.187-10.187c.792-.792.792-2.126 0-2.917"
        ></path>
      </svg>
    </span>
  </label>
  <aside class="sidebar__panel">
    <div class="sidebar__panel-container">
      <figure class="sidebar__profile">
        <img
          class="sidebar__profile-image"
          src="images/nikita.png"
          alt="Никита Десятов"
        />
        <figcaption class="sidebar__profile-title">Никита Десятов</figcaption>
      </figure>
      <nav class="sidebar__menu">
        <a
          class="sidebar__menu-item"
          href="#subscriptions"
          >Программы</a
        >
        <a
          class="sidebar__menu-item"
          href="#maintenance"
          >Ведение</a
        >
        <a
          class="sidebar__menu-item"
          href="#food"
          >Питание</a
        >
        <a
          class="sidebar__menu-item"
          href="#how"
          >Как работает подписка?</a
        >
        <a
          class="sidebar__menu-item"
          href="#faq"
          >FAQ</a
        >
        <a
          class="sidebar__menu-item"
          href="#about"
          >О проекте</a
        >
      </nav>
      <div class="sidebar__social">
        <button class="btn btn--black btn--quadro sidebar__social-instagram">
          <IconInstagram />
        </button>

        <button class="btn btn--black btn--quadro sidebar__social-telegram">
          <IconTelegram />
        </button>
      </div>
    </div>
  </aside>
</div>
