---
import Button from "../button/Button.astro";
import Icon from "../icon/Icon.astro";
import Social from "../social/Social.astro";
---

<div class="sidebar">
  <input class="sidebar__checkbox" type="checkbox" id="sidebar-trigger" />
  <label class="sidebar__shadow" for="sidebar-trigger"></label>
  <aside class="sidebar__panel">
    <div class="sidebar__panel-container">
      <div class="sidebar__profile">
        <figure>
          <img
            class="sidebar__profile-image"
            src="images/nikita.png"
            alt="Никита Десятов"
          />
          <figcaption class="sidebar__profile-title">Никита Десятов</figcaption>
        </figure>

        <Button href="#" color="gradient" size="s" block>Консультация</Button>
      </div>
      <nav class="sidebar__menu">
        <a class="sidebar__menu-item" href="#subscriptions">Программы</a>
        <a class="sidebar__menu-item" href="#maintenance">Ведение</a>
        <a class="sidebar__menu-item" href="#food">Питание</a>
        <a class="sidebar__menu-item" href="#how">Как работает подписка?</a>
        <a class="sidebar__menu-item" href="#faq">FAQ</a>
        <a class="sidebar__menu-item" href="#about">О проекте</a>
      </nav>

      <div class="sidebar__social-wrapper">
        <Social place="sidebar" />
      </div>
    </div>
  </aside>
  <label for="sidebar-trigger" class="sidebar__btn-close">
    <Icon name="close" />
  </label>
</div>

<script src="./Sidebar.js"></script>
<style lang="scss">
  $sidebar-width: 320px;

  .sidebar {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    z-index: 99999;

    &__checkbox {
      visibility: hidden;
      opacity: 0;
      position: fixed;
    }

    &__shadow {
      height: 100lvh;
      position: fixed;
      inset: 0;
      background-color: rgba(#000, 0.8);
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 300ms ease,
        visibility 300ms ease;
      overflow: hidden;
      backdrop-filter: blur(20px);
    }

    &__btn-close {
      position: fixed;
      top: 0;
      right: 0;
      transition: opacity 300ms ease;
      width: var(--navbar-height);
      height: var(--navbar-height);
      opacity: 0;

      :global(svg) {
        transform: scale(0.5);
      }
    }

    &__panel {
      width: $sidebar-width;
      height: 100lvh;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      background: var(--black-secondary);
      transform: translateX(-$sidebar-width);
      transition: transform 300ms ease;
      overflow: hidden;
    }

    &__panel-container {
      width: ($sidebar-width + 17px);
      height: 100%;
      padding-bottom: 50px;
      overflow-y: scroll;
    }

    &__profile {
      display: flex;
      flex-direction: column;
      background-color: var(--black);
      padding: 2rem;
      gap: 1.2rem;

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
      }
    }

    &__profile-image {
      max-width: 50%;
      border-radius: 50%;
    }

    &__profile-title {
      font-size: 1.6rem;
      font-weight: bold;
    }

    &__checkbox:checked ~ &__shadow {
      opacity: 1;
      visibility: visible;
    }

    &__checkbox:checked ~ &__btn-close {
      opacity: 1;
    }

    &__checkbox:checked ~ &__panel {
      transform: translateX(0);
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 2rem;
    }

    &__menu-item {
      font-size: 1.2rem;
      text-decoration: none;
      color: var(--white);
    }

    &__social-wrapper {
      padding: 0 2rem;
    }
  }
</style>
