include ../components/navbar/navbar.pug
include ./main-section/main-section.pug
include ../components/running-string/running-string.pug
include ./subscriptions/subscriptions.pug
include ../components/running-string/running-string-inverted.pug
include ./maintenance/maintenance.pug
include ../components/running-string/running-string.pug
include ./food/food.pug
include ../components/running-string/running-string.pug
include ./how/how.pug
include ../components/running-string/running-string.pug
include ./faq/faq.pug
include ../components/running-string/running-string.pug
include ./about/about.pug


include ../components/sidebar/sidebar.pug