---
import "./HowItWork.scss";
---

<section
  class="sections how"
  id="how">
  <div class="container how__container">
    <div class="title-group how__title-group">
      <h2 class="title how__title">Как работает подписка?</h2><span class="subtitle how__subtitle"></span>
    </div>
  </div>
</section>
