@mixin desktop {
  @media screen and (min-width: 1180px) {
    @content;
  }
}

@mixin desktop2k {
  @media screen and (min-width: 2000px) {
    @content;
  }
}

@mixin desktop4k {
  @media screen and (min-width: 3000px) {
    @content;
  }
}

@mixin fontAlternative {
  text-transform: uppercase;
  font-family: "DrukTextWide";
  font-weight: bold;
  font-optical-sizing: auto;
}

@mixin textWithGradient {
  background: var(--primary);
  background-image: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}