---

---

<div class="accordion-list">
  <slot />
</div>

<style lang="scss">
  .accordion-list {
    background-color: var(--black-secondary);
    border-radius: 15px;
    will-change: height;
    display: flex;
    flex-direction: column;
  }
</style>
